/* Custom CSS */
/* see #6 */

.bg-teal {
	background-color: #008080;
}

.teal {
		color: #876880;
}
/*!for album titles*/
.hover-teal:hover, 
.hover-teal:focus { color: #008080; }

.post-content a, .comment-content a {
		color: #008080;
}

.mv-auto {
		margin-left: auto;
		margin-right: auto;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1000;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/*! .site-title {
		font-size: 150%;
		font-family: 'Merienda One', cursive;
} */

blockquote {
		font-style: italic;
}
